<% @films.each do |film| %>
<tr>
  <td><%= film.title %></td>
  <td><%= film.rating %></td>
  <td><%= film.genre %></td>
  <td><%= film.available ? link_to('Rent', new_user_path) : 'Unavailable' %></td>
</tr>
<% end %>