th#asc::after {
  content: ' (asc)';
  font-size: .8em;
}

th#desc::after {
  content: ' (desc)';
  font-size: .8em;
}

th {
  width: 25%;
}

th.films:hover {
  cursor: pointer;
}

input {
  margin-bottom: 1.5em !important;
}

.rentals {
  margin-top: 3em;
}