th#asc::after {
  content: ' (asc)';
  font-size: .8em;
}

th#desc::after {
  content: ' (desc)';
  font-size: .8em;
}

th {
  width: 25%;
}

th.films:hover {
  cursor: pointer;
}

input {
  margin-bottom: 1.5em !important;
}

.rentals {
  margin-top: 3em;
}

.notifications {
  padding: .5em;
  font-size: 1.2em;
  color: white;
  background-color: orange;
  opacity: .7;
  border-radius: 5px;
  text-align: center;
}

.notifications:hover {
  cursor: pointer;
}