th#asc::after {
  content: ' (asc)';
  font-size: .8em;
}

th#desc::after {
  content: ' (desc)';
  font-size: .8em;
}

th {
  width: 25%;
}

th.films:hover {
  cursor: pointer;
}

input {
  margin-bottom: 1.5em !important;
}

.container:nth-child(2) {
  margin-top: 41px !important;
}

.rentals {
  margin-top: 3em;
}

.notifications {
  display: fixed;
  width: 100%;
  padding: .5em;
  font-size: 1.2em;
  color: white;
  background-color: blueviolet;
  opacity: .7;
  text-align: center;
}

.notifications#error {
  background-color: red;
}

.notifications:hover {
  cursor: pointer;
}

.navbar {
  margin-bottom: 0 !important;
}